.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
}

.input:not(:last-child) {
  margin-bottom: 10px;
}

.registerBtn {
  margin: 10px auto !important;
  width: max-content;
  padding: 10px 20px !important;
}



.passwordInputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.showPasswordButton {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.passwordInputContainer:hover .showPasswordButton {
  opacity: 1;
}

.showPasswordIcon {
 
}