.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
}

.input:not(:last-child) {
  margin-bottom: 10px;
}

.registerBtn {
  margin: 10px auto !important;
  width: max-content;
  padding: 10px 20px !important;
}


.input-field {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.input-field input {
  outline: none;
  font-size: 16px;
  color: #333;
}

.input-field .icon {
  float: right;
  margin-right: 10px;
}

.input-field .icon i {
  cursor: pointer;
}

.input-field.show-password input {
  display: block;
}

.input-field.show-password .icon i {
  transform: rotate(180deg);
}